body {
		font-family: Courier;
		font-size: 15px;
	}
div {
		background-color:  #dcdcdc;
		color:  #191970;
		width: 480px;
		height: 180px;
		padding-top: 25px;
		padding-left: 20px;
		border-radius: 15px;
	}
		
input {
		text-align: center;
		width: 100px;
}