body {
		font-family: Courier;
		font-size: 15px;
		
	}
section {
		background-color:  #dcdcdc;
		color:  #191970;
		width: 700px;
		height: 250px;
		padding: 25px; 40px; 20px; 0px;
		border-radius: 15px;
	}
		
input {
		text-align: center;
		width: 100px;
}